<div class="reasons">
  <div class="reasons__wrapper">
    <div class="title-class">
      <p>More reasons to join</p>
    </div>
    <div class="reasons__reason-cards">
      <div class="reasons__card">
        <div class="reasons__card-items">
          <h3>Enjoy on your TV</h3>
          <p>
            Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray
            players and more.
          </p>
        </div>
        <p>Image</p>
      </div>

      <div class="reasons__card">
        <div class="reasons__card-items">
          <h3>Download your shows to watch offline</h3>
          <p>
            Save your favourites easily and always have something to watch..
          </p>
        </div>
        <p>Image</p>
      </div>

      <div class="reasons__card">
        <div class="reasons__card-items">
          <h3>Watch everywhere</h3>
          <p>
            Stream unlimited movies and TV shows on your phone, tablet, laptop
            and TV.
          </p>
        </div>
        <p>Image</p>
      </div>

      <div class="reasons__card">
        <div class="reasons__card-items">
          <h3>Create profiles for kids</h3>
          <p>
            Send kids on adventures with their favourite characters in a space
            made just for them — free with your membership.
          </p>
        </div>
        <p>Image</p>
      </div>
    </div>
  </div>
</div>
