@import "../../styles/variables";
@import "../../styles/spacing";

.footer {
  @include horizontal-spacing();
  &__mebership {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  app-membership-component {
    width: 60%;
  }

  //footer

  &__call {
    color: #adb3b3;
    span {
      a {
        color: #adb3b3;
      }
    }
  }

  &__links-wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: #adb3b3;
  }
  &__link-section {
    flex: 1;
    padding: 2rem 0;
    ul {
      list-style: none;
      li {
        a {
          color: #adb3b3;
        }
      }
    }
  }

  &__signature {
    margin: 2rem 0;
  }

  &__note {
    font-size: 0.8rem;
  }
}
