.trendingCard {
  width: 200px;
  border-radius: 12px;
  overflow: hidden;

  button {
    padding: 0;
    border: none;
    background: none;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 300px;
  }

  &__image-box {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 12px;
  }

  &__position {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: 2px solid white;
    padding: 4px 17px;
    font-size: 23px;
    border-radius: 8px;
    font-weight: bold;
  }
  &:hover{
      transform: scale(1.05);  
  transition: transform 0.3s ease; 
  }
}
