<div class="hero-section">
  <div class="hero-section__nav">
    <a class="hero-section__title">
      <div class="hero-section__logo">
        <img src="/images/logo.png" alt="Netflix" />
      </div>
    </a>
    <div class="hero-section__options">
      <app-lang-select />
      <app-signin-button />
    </div>
  </div>

  <div class="hero-section__content">
    <h1>Unlimited movies, TV shows and more</h1>
    <p>Starts at ₹149. Cancel at any time.</p>
    <app-membership-component />
  </div>
</div>
